<%= render '/kmgr/includes/search' %>

<div class="content">
  <%= render '/kmgr/includes/breadcrumb', page_name: 'signup lists' %>
  <div class="box-960 half-bottom">

    <h4>Kurabu Email Lists</h4>
    <div class="pricing-table pricing-selected-blue" style="width: 100%; padding-bottom: 2px;">
      <h3>Emails Session <%= params[:id] %></h3>
      <div style="padding:10px 20px">

        <div style="float:left; width:50%">
          <strong>Kindergarten:</strong><br/>
          <p>
            <% @kinder.each do |email| %>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= email %><br/>
            <% end %>
          </p>

          <strong>1st Grade:</strong><br/>
          <p>
            <% @first.each do |email| %>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= email %><br/>
            <% end %>
          </p>

          <strong>2nd Grade:</strong><br/>
          <p>
            <% @second.each do |email| %>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= email %><br/>
            <% end %>
          </p>
        </div>

        <div style="float:left; width:50%">
          <strong>3rd Grade:</strong><br/>
          <p>
            <% @third.each do |email| %>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= email %><br/>
            <% end %>
          </p>

          <strong>4th Grade:</strong><br/>
          <p>
            <% @forth.each do |email| %>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= email %><br/>
            <% end %>
          </p>

          <strong>5th Grade:</strong><br/>
          <p>
            <% @fifth.each do |email| %>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= email %><br/>
            <% end %>
          </p>
        </div>
        <div style="clear:both"></div>

      </div>
    </div>
  </div>
</div>