<script>
    jQuery(document).ready(function () {
        jQuery("tr:odd").css("background-color", "#CEF5FF");
        jQuery("td").css("padding-left", "10px");
        jQuery("td").css("padding-right", "10px");
    });
</script>

<%= render '/kmgr/includes/search' %>

<div class="content">
  <%= render '/kmgr/includes/breadcrumb', page_name: '' %>
  <div class="box-960 half-bottom">

    <h4>Fully Registered Signups</h4>

    <p>Click on a Session/Grade to get a Sign-in Sheet</p>

    <%= render '/kmgr/includes/table', summeries: @summeries %>

    <strong><%= link_to 'All Registered Singups', kmgr_reports_list_path %></strong>
    <strong><%= link_to 'Details Dump Report', kmgr_reports_dump_report_path(format: :csv) %></strong>
    <br/>
    Email List By Session:
    <%= link_to 'Session 1', kmgr_reports_emaillist_url(1), style: 'display:inline; margin-right:10px;' %>
    <%= link_to 'Session 2', kmgr_reports_emaillist_url(2), style: 'display:inline; margin-right:10px;' %>
    <%= link_to 'Session 3', kmgr_reports_emaillist_url(3), style: 'display:inline; margin-right:10px;' %>
    <%= link_to 'Session 4', kmgr_reports_emaillist_url(4), style: 'display:inline; margin-right:10px;' %>
    <%= link_to 'Session 5', kmgr_reports_emaillist_url(5), style: 'display:inline; margin-right:10px;' %>

    <br/>
    Singups By Session:
    <%= link_to 'Session 1', kmgr_reports_signuplist_url(1), style: 'display:inline; margin-right:10px;' %>
    <%= link_to 'Session 2', kmgr_reports_signuplist_url(2), style: 'display:inline; margin-right:10px;' %>
    <%= link_to 'Session 3', kmgr_reports_signuplist_url(3), style: 'display:inline; margin-right:10px;' %>
    <%= link_to 'Session 4', kmgr_reports_signuplist_url(4), style: 'display:inline; margin-right:10px;' %>
    <%= link_to 'Session 5', kmgr_reports_signuplist_url(5), style: 'display:inline; margin-right:10px;' %>

    <br/><br/>
    <b>Sign-in Sheets by Grade and Session:</b>
    <br/><br/>
    Session 1:
    <%= link_to 'Kindergarten', kmgr_reports_signupsheet_path('Kindergarten', 1), style: 'display:inline; margin-right:10px;' %>
    <%= link_to '1st Grade', kmgr_reports_signupsheet_path('1st Grade', 1), style: 'display:inline; margin-right:10px;' %>
    <%= link_to '2nd Grade', kmgr_reports_signupsheet_path('2nd Grade', 1), style: 'display:inline; margin-right:10px;' %>
    <%= link_to '3rd Grade', kmgr_reports_signupsheet_path('3rd Grade', 1), style: 'display:inline; margin-right:10px;' %>
    <%= link_to '4th Grade', kmgr_reports_signupsheet_path('4th Grade', 1), style: 'display:inline; margin-right:10px;' %>
    <%= link_to '5th Grade', kmgr_reports_signupsheet_path('5th Grade', 1), style: 'display:inline; margin-right:10px;' %>

    <br/>Session 2:
    <%= link_to 'Kindergarten', kmgr_reports_signupsheet_path('Kindergarten', 2), style: 'display:inline; margin-right:10px;' %>
    <%= link_to '1st Grade', kmgr_reports_signupsheet_path('1st Grade', 2), style: 'display:inline; margin-right:10px;' %>
    <%= link_to '2nd Grade', kmgr_reports_signupsheet_path('2nd Grade', 2), style: 'display:inline; margin-right:10px;' %>
    <%= link_to '3rd Grade', kmgr_reports_signupsheet_path('3rd Grade', 2), style: 'display:inline; margin-right:10px;' %>
    <%= link_to '4th Grade', kmgr_reports_signupsheet_path('4th Grade', 2), style: 'display:inline; margin-right:10px;' %>
    <%= link_to '5th Grade', kmgr_reports_signupsheet_path('5th Grade', 2), style: 'display:inline; margin-right:10px;' %>

    <br/>Session 3:
    <%= link_to 'Kindergarten', kmgr_reports_signupsheet_path('Kindergarten', 3), style: 'display:inline; margin-right:10px;' %>
    <%= link_to '1st Grade', kmgr_reports_signupsheet_path('1st Grade', 3), style: 'display:inline; margin-right:10px;' %>
    <%= link_to '2nd Grade', kmgr_reports_signupsheet_path('2nd Grade', 3), style: 'display:inline; margin-right:10px;' %>
    <%= link_to '3rd Grade', kmgr_reports_signupsheet_path('3rd Grade', 3), style: 'display:inline; margin-right:10px;' %>
    <%= link_to '4th Grade', kmgr_reports_signupsheet_path('4th Grade', 3), style: 'display:inline; margin-right:10px;' %>
    <%= link_to '5th Grade', kmgr_reports_signupsheet_path('5th Grade', 3), style: 'display:inline; margin-right:10px;' %>

    <br/>Session 4:
    <%= link_to 'Kindergarten', kmgr_reports_signupsheet_path('Kindergarten', 4), style: 'display:inline; margin-right:10px;' %>
    <%= link_to '1st Grade', kmgr_reports_signupsheet_path('1st Grade', 4), style: 'display:inline; margin-right:10px;' %>
    <%= link_to '2nd Grade', kmgr_reports_signupsheet_path('2nd Grade', 4), style: 'display:inline; margin-right:10px;' %>
    <%= link_to '3rd Grade', kmgr_reports_signupsheet_path('3rd Grade', 4), style: 'display:inline; margin-right:10px;' %>
    <%= link_to '4th Grade', kmgr_reports_signupsheet_path('4th Grade', 4), style: 'display:inline; margin-right:10px;' %>
    <%= link_to '5th Grade', kmgr_reports_signupsheet_path('5th Grade', 4), style: 'display:inline; margin-right:10px;' %>

    <br/>Session 5:
    <%= link_to 'Kindergarten', kmgr_reports_signupsheet_path('Kindergarten', 5), style: 'display:inline; margin-right:10px;' %>
    <%= link_to '1st Grade', kmgr_reports_signupsheet_path('1st Grade', 5), style: 'display:inline; margin-right:10px;' %>
    <%= link_to '2nd Grade', kmgr_reports_signupsheet_path('2nd Grade', 5), style: 'display:inline; margin-right:10px;' %>
    <%= link_to '3rd Grade', kmgr_reports_signupsheet_path('3rd Grade', 5), style: 'display:inline; margin-right:10px;' %>
    <%= link_to '4th Grade', kmgr_reports_signupsheet_path('4th Grade', 5), style: 'display:inline; margin-right:10px;' %>
    <%= link_to '5th Grade', kmgr_reports_signupsheet_path('5th Grade', 5), style: 'display:inline; margin-right:10px;' %>

  </div>
</div>