<script>
  jQuery(document).ready(function () {
    jQuery("tr:odd").css("background-color", "#CEF5FF");
    jQuery("td").css("padding-left", "10px");
    jQuery("td").css("padding-right", "10px");
  });
</script>

<h3>Kurabu Reports</h3>

<br/>
<p>Click on a Session/Grade to get a Sign-in Sheet</p>
<table style="border-bottom: 1px;width:500px;">
  <tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;">Grade</p></td>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;">S1</p></td>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;">S2</p></td>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;">S3</p></td>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;">S4</p></td>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;">S5</p></td>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;color:black;">Total</p></td>
  </tr>
  <% session = 0 %>
  <% @summeries.each_with_index do |summary, index| %>
      <tr>
        <td><p style="margin-bottom:0;<%= summary[:grade] == 'Total' ? 'color:black;font-weight:bold;' : '' %>"><%= summary[:grade] %></p></td>
        <td><p style="margin-bottom:0;<%= summary[:grade] == 'Total' ? 'color:black;font-weight:bold;' : '' %>">
          <% if index < 6 %>
            <a href="/kmgr/reports/signupsheet?session=<%= session + 1 %>&grade=<%= summary[:grade]%>"><%= summary[:s1] %></a>
          <% else %>
              <%= summary[:s1] %>
          <% end %>
        </p></td>
        <td><p style="margin-bottom:0;<%= summary[:grade] == 'Total' ? 'color:black;font-weight:bold;' : '' %>">
          <% if index < 6 %>
              <a href="/kmgr/reports/signupsheet?session=<%= session + 2 %>&grade=<%= summary[:grade]%>"><%= summary[:s2] %></a>
          <% else %>
              <%= summary[:s2] %>
          <% end %>
        </p></td>
        <td><p style="margin-bottom:0;<%= summary[:grade] == 'Total' ? 'color:black;font-weight:bold;' : '' %>">
          <% if index < 6 %>
              <a href="/kmgr/reports/signupsheet?session=<%= session + 3 %>&grade=<%= summary[:grade]%>"><%= summary[:s3] %></a>
          <% else %>
              <%= summary[:s3] %>
          <% end %>
        </p></td>
        <td><p style="margin-bottom:0;<%= summary[:grade] == 'Total' ? 'color:black;font-weight:bold;' : '' %>">
          <% if index < 6 %>
              <a href="/kmgr/reports/signupsheet?session=<%= session + 4 %>&grade=<%= summary[:grade]%>"><%= summary[:s4] %></a>
          <% else %>
              <%= summary[:s4] %>
          <% end %>
        </p></td>
        <td><p style="margin-bottom:0;<%= summary[:grade] == 'Total' ? 'color:black;font-weight:bold;' : '' %>">
          <% if index < 6 %>
              <a href="/kmgr/reports/signupsheet?session=<%= session + 5 %>&grade=<%= summary[:grade]%>"><%= summary[:s5] %></a>
          <% else %>
              <%= summary[:s5] %>
          <% end %>
        </p></td>
        <td><p style="margin-bottom:0;color: black;font-weight:bold;"><%= summary[:total] %></p></td>
      </tr>
  <% end %>
</table>

<br/><br/>

Email List By Session:
<%= link_to 'Session 1', kmgr_reports_emaillist_url(1) %>&nbsp;&nbsp;&nbsp;
<%= link_to 'Session 2', kmgr_reports_emaillist_url(2) %>&nbsp;&nbsp;&nbsp;
<%= link_to 'Session 3', kmgr_reports_emaillist_url(3) %>&nbsp;&nbsp;&nbsp;
<%= link_to 'Session 4', kmgr_reports_emaillist_url(4) %>&nbsp;&nbsp;&nbsp;
<%= link_to 'Session 5', kmgr_reports_emaillist_url(5) %>

<br/><br/>
Singups By Session:
<%= link_to 'Session 1', kmgr_reports_signuplist_url(1) %>&nbsp;&nbsp;&nbsp;
<%= link_to 'Session 2', kmgr_reports_signuplist_url(2) %>&nbsp;&nbsp;&nbsp;
<%= link_to 'Session 3', kmgr_reports_signuplist_url(3) %>&nbsp;&nbsp;&nbsp;
<%= link_to 'Session 4', kmgr_reports_signuplist_url(4) %>&nbsp;&nbsp;&nbsp;
<%= link_to 'Session 5', kmgr_reports_signuplist_url(5) %>
