<%= render '/kmgr/includes/search' %>

<div class="content">
  <%= render '/kmgr/includes/breadcrumb', page_name: 'signup details' %>
  <div class="box-960 half-bottom">

    <h4>Kurabu Singup Details</h4>
    <div class="pricing-table pricing-selected-blue" style="width: 100%; padding-bottom: 2px;">

      <table cellspacing="5">
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Child First</td>
          <td><p style="text-align:left;"><%= @signup.cfname %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Child Last</td>
          <td><p style="text-align:left;"><%= @signup.clname %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Child Gender</td>
          <td><p style="text-align:left;"><%= @signup.cgender %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Grade</td>
          <td><p style="text-align:left;"><%= @signup.cage %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Birthday</td>
          <td nowrap="nowrap"><p style="text-align:left;"><%= @signup.cmonth %> <%= @signup.cday %> <%= @signup.cyear %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Parent 1 First</td>
          <td><p style="text-align:left;"><%= @signup.p1fname %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Parent 1 Last</td>
          <td><p style="text-align:left;"><%= @signup.p1lname %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Parent 2 First</td>
          <td><p style="text-align:left;"><%= @signup.p2fname %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Parent 2 Last</td>
          <td><p style="text-align:left;"><%= @signup.p2lname %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Home/Cell Phone</td>
          <td><p style="text-align:left;"><%= @signup.phone1 %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Work Phone</td>
          <td><p style="text-align:left;"><%= @signup.phone2 %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Email</td>
          <td><p style="text-align:left;"><%= @signup.email %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Street</td>
          <td><p style="text-align:left;"><%= @signup.street %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">City</td>
          <td><p style="text-align:left;"><%= @signup.city %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">State</td>
          <td><p style="text-align:left;"><%= @signup.state %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Zip</td>
          <td><p style="text-align:left;"><%= @signup.zip %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Session 1</td>
          <td><p style="text-align:left;"><%= @signup.session1 == "1" ? "Y" : "" %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Session 2</td>
          <td><p style="text-align:left;"><%= @signup.session2 == "1" ? "Y" : "" %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Session 3</td>
          <td><p style="text-align:left;"><%= @signup.session3 == "1" ? "Y" : "" %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Session 4</td>
          <td><p style="text-align:left;"><%= @signup.session4 == "1" ? "Y" : "" %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Session 5</td>
          <td><p style="text-align:left;"><%= @signup.session5 == "1" ? "Y" : "" %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Dietary Restrictions</td>
          <td><p style="text-align:left;"><%= @signup.special %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Medical</td>
          <td><p style="text-align:left;"><%= @signup.medical %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Medical Agree</td>
          <td><p style="text-align:left;"><%= @signup.medical_agree %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Medical Signed</td>
          <td><p style="text-align:left;"><%= @signup.medical_signed %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Medical Signed Date</td>
          <td><p style="text-align:left;"><%= @signup.medical_signed_date %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Pickup Name</td>
          <td><p style="text-align:left;"><%= @signup.pickup_name %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Pickup Relationship</td>
          <td><p style="text-align:left;"><%= @signup.pickup_relationship %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Pickup Phone</td>
          <td><p style="text-align:left;"><%= @signup.pickup_phone %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Emergency Name</td>
          <td><p style="text-align:left;"><%= @signup.econtact_name %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Emergency Relationship</td>
          <td><p style="text-align:left;"><%= @signup.econtact_relationship %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Emergency Phone</td>
          <td><p style="text-align:left;"><%= @signup.econtact_phone %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Emergency Address</td>
          <td><p style="text-align:left;"><%= @signup.econtact_address %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Activity Child Name</td>
          <td><p style="text-align:left;"><%= @signup.activity_cname %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Activity Agree</td>
          <td><p style="text-align:left;"><%= @signup.activity_agree %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Activity Signed</td>
          <td><p style="text-align:left;"><%= @signup.activity_signed %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Activity Signed Date</td>
          <td><p style="text-align:left;"><%= @signup.activity_signed_date %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Photo Agree</td>
          <td><p style="text-align:left;"><%= @signup.photo_agree %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Photo Signed</td>
          <td><p style="text-align:left;"><%= @signup.photo_signed %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Photo Signed Date</td>
          <td><p style="text-align:left;"><%= @signup.photo_signed_date %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Art Agree</td>
          <td><p style="text-align:left;"><%= @signup.art_agree %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Art Signed</td>
          <td><p style="text-align:left;"><%= @signup.art_signed %></p></td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="text-align:left; margin-bottom:0;text-decoration: underline;padding-left:40px;">Art Signed Date</td>
          <td><p style="text-align:left;"><%= @signup.art_signed_date %></p></td>
        </tr>
      </table>
    </div>
  </div>
</div>