<h3>Kurabu Signup</h3>
<%= link_to 'back to reports', kmgr_reports_index_path %>
<br/><br/>

<table cellspacing="5">
  <tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">Child First</p></td>
    <td><p style="margin-bottom:0;"><%= @signup.cfname %></p></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">Child Last</p></td>
    <td><p style="margin-bottom:0;"><%= @signup.clname %></p></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">Child Gender</p></td>
    <td><p style="margin-bottom:0;"><%= @signup.cgender %></p></td>
</tr><tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">Grade</p></td>
    <td><p style="margin-bottom:0;"><%= @signup.cage %></p></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">Birthday</p></td>
    <td nowrap="nowrap">
      <p style="margin-bottom:0;"><%= @signup.cmonth %>
        <%= @signup.cday %>
        <%= @signup.cyear %></p>
    </td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">Parent 1 First</p>
    </td>
    <td><p style="margin-bottom:0;"><%= @signup.p1fname %></p></td>
</tr><tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">Parent 1 Last</p>
    </td>
    <td><p style="margin-bottom:0;"><%= @signup.p1lname %></p></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">Parent 2 First</p>
    </td>
    <td><p style="margin-bottom:0;"><%= @signup.p2fname %></p></td>
</tr><tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">Parent 2 Last</p>
    </td>
    <td><p style="margin-bottom:0;"><%= @signup.p2lname %></p></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">Home/Cell Phone</p>
    </td>
    <td><p style="margin-bottom:0;"><%= @signup.phone1 %></p></td>
</tr><tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">Work Phone</p></td>
    <td><p style="margin-bottom:0;"><%= @signup.phone2 %></p></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">Email</p></td>
    <td><p style="margin-bottom:0;"><%= @signup.email %></p></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">Street</p></td>
    <td><p style="margin-bottom:0;"><%= @signup.street %></p></td>
</tr><tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">City</p></td>
    <td><p style="margin-bottom:0;"><%= @signup.city %></p></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">State</p></td>
    <td><p style="margin-bottom:0;"><%= @signup.state %></p></td>
</tr><tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">Zip</p></td>
    <td><p style="margin-bottom:0;"><%= @signup.zip %></p></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">S1</p></td>
    <td><p style="margin-bottom:0;"><%= @signup.session1 == "1" ? "Y" : "" %></p></td>
</tr><tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">S2</p></td>
    <td><p style="margin-bottom:0;"><%= @signup.session2 == "1" ? "Y" : "" %></p></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">S3</p></td>
    <td><p style="margin-bottom:0;"><%= @signup.session3 == "1" ? "Y" : "" %></p></td>
</tr><tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">S4</p></td>
    <td><p style="margin-bottom:0;"><%= @signup.session4 == "1" ? "Y" : "" %></p></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">S5</p></td>
    <td><p style="margin-bottom:0;"><%= @signup.session5 == "1" ? "Y" : "" %></p></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">Special</p></td>
    <td colspan="3"><p style="margin-bottom:0;"><%= @signup.special %></p></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">Medical</p></td>
    <td colspan="3"><p style="margin-bottom:0;"><%= @signup.medical %></p></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">Medical Agree</p>
    </td>
    <td><p style="margin-bottom:0;"><%= @signup.medical_agree %></p></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">Medical Signed</p>
    </td>
    <td><p style="margin-bottom:0;"><%= @signup.medical_signed %></p></td>
</tr><tr>
    <td>
      <p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">Medical Signed Date</p>
    </td>
    <td><p style="margin-bottom:0;"><%= @signup.medical_signed_date %></p></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">Shots Date</p></td>
    <td><p style="margin-bottom:0;"><%= @signup.shots_date %></p></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">Econtact Name</p>
    </td>
    <td><p style="margin-bottom:0;"><%= @signup.econtact_name %></p></td>
</tr><tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">Econtact
      Relationship</p></td>
    <td><p style="margin-bottom:0;"><%= @signup.econtact_relationship %></p></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">Econtact Phone</p>
    </td>
    <td><p style="margin-bottom:0;"><%= @signup.econtact_phone %></p></td>
</tr><tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">Econtact Address</p>
    </td>
    <td><p style="margin-bottom:0;"><%= @signup.econtact_address %></p></td>
  </tr>
  <tr>
    <td>
      <p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">Activity Child Name</p>
    </td>
    <td><p style="margin-bottom:0;"><%= @signup.activity_cname %></p></td>
</tr><tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">Activity Agree</p>
    </td>
    <td><p style="margin-bottom:0;"><%= @signup.activity_agree %></p></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">Activity Signed</p>
    </td>
    <td><p style="margin-bottom:0;"><%= @signup.activity_signed %></p></td>
</tr><tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">Activity Signed
      Date</p></td>
    <td><p style="margin-bottom:0;"><%= @signup.activity_signed_date %></p></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">Photo Agree</p></td>
    <td><p style="margin-bottom:0;"><%= @signup.photo_agree %></p></td>
</tr><tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">Photo Signed</p></td>
    <td><p style="margin-bottom:0;"><%= @signup.photo_signed %></p></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">Photo Signed Date</p>
    </td>
    <td><p style="margin-bottom:0;"><%= @signup.photo_signed_date %></p></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;margin-right:30px;">Directions</p></td>
    <td colspan="3"><p style="margin-bottom:0;"><%= @signup.directions %></p></td>
  </tr>
</table>
