<p style="color:black;margin-bottom:10px;"><strong>Student Information</strong></p>
<table>
  <tr>
    <td><p style="margin-bottom:0;">Child’s First Name:</p></td>
    <td><%= f.text_field :cfname %></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Child’s Last Name:</p></td>
    <td><%= f.text_field :clname %></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Gender:</p></td>
    <td>
      <span style="font-size: 13px;color: #8c8c8c;">Male</span> <%= f.radio_button :cgender, "Male" %>
      &nbsp;&nbsp;&nbsp;
      <span style="font-size: 13px;color: #8c8c8c;">Female</span> <%= f.radio_button :cgender, "Female" %>
    </td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Birthday:</p></td>
    <td>
      <span style="font-size: 13px;color: #8c8c8c;">Month</span>
      <%= f.select :cmonth,
                   options_for_select([['', ''], ['Jan', 'Jan'], ['Feb', 'Feb'], ['Mar', 'Mar'], ['Apr', 'Apr'], ['May', 'May'], ['Jun', 'Jun'], ['Jul', 'Jul'], ['Aug', 'Aug'], ['Sep', 'Sep'], ['Oct', 'Oct'], ['Nov', 'Nov'], ['Dec', 'Dec']], @signup.cmonth),
                   {}, {:style => 'width:100px;'} %>
      &nbsp;&nbsp;&nbsp;
      <span style="font-size: 13px;color: #8c8c8c;">Day</span>
      <%= f.select :cday,
                   options_for_select([['', ''], ['1', '1'], ['2', '2'], ['3', '3'], ['4', '4'], ['5', '5'], ['6', '6'], ['7', '7'], ['8', '8'], ['9', '9'], ['10', '10'], ['11', '11'], ['12', '12'], ['13', '13'], ['14', '14'], ['15', '15'], ['16', '16'], ['17', '17'], ['18', '18'], ['19', '19'], ['20', '20'], ['21', '21'], ['22', '22'], ['23', '23'], ['24', '24'], ['25', '25'], ['26', '26'], ['27', '27'], ['28', '28'], ['29', '29'], ['30', '30'], ['31', '31']], @signup.cday),
                   {}, {:style => 'width:100px;'} %>
      &nbsp;&nbsp;&nbsp;
      <span style="font-size: 13px;color: #8c8c8c;">Year</span>
      <%= f.select :cyear,
                   options_for_select([['', ''], ['2014', '2014'], ['2013', '2013'], ['2012', '2012'], ['2011', '2011'], ['2010', '2010'], ['2009', '2009'], ['2008', '2008'], ['2007', '2007'], ['2006', '2006'], ['2005', '2005'], ['2004', '2004'], ['2003', '2003'], ['2002', '2002'], ['2001', '2001'], ['2000', '2000'], ['1999', '1999'], ['1998', '1998'], ['1997', '1997'], ['1996', '1996'], ['1995', '1995'], ['1994', '1994'], ['1993', '1993'], ['1992', '1992'], ['1991', '1991']], @signup.cyear),
                   {}, {:style => 'width:100px;'} %>
    </td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Grade entering in fall 2017:</p></td>
    <td>
      <%= f.select :cage,
                   options_for_select([['', ''], ['Kindergarten', 'Kindergarten'], ['1st Grade', '1st Grade'], ['2nd Grade', '2nd Grade'], ['3rd Grade', '3rd Grade'], ['4th Grade', '4th Grade'], ['5th Grade', '5th Grade']], @signup.cage),
                   {}, {:style => 'width:130px;'} %>
    </td>
  </tr>
</table>
<br/><br/>
<p style="color:black;margin-bottom:10px;"><strong>Parent Information</strong></p>
<table>
  <tr>
    <td><p style="margin-bottom:0;">Parent 1 First Name:</p></td>
    <td><%= f.text_field :p1fname, style: 'width:500px' %></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Parent 1 Last Name:</p></td>
    <td><%= f.text_field :p1lname %></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Parent 2 First Name:</p></td>
    <td><%= f.text_field :p2fname %></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Parent 2 Last Name:</p></td>
    <td><%= f.text_field :p2lname %></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Home/Cell Phone:</p></td>
    <td><%= f.text_field :phone1 %></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Work Phone:</p></td>
    <td><%= f.text_field :phone2 %></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Email:</p></td>
    <td><%= f.text_field :email %></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Street:</p></td>
    <td><%= f.text_field :street %></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">City:</p></td>
    <td><%= f.text_field :city %></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">State:</p></td>
    <td><%= f.text_field :state, style: 'width:150px;' %></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Zip:</p></td>
    <td><%= f.text_field :zip, style: 'width:150px;' %></td>
  </tr>
</table>

<br/><br/>
<p style="color:black;margin-bottom:10px;"><strong>My Child will attend the following sessions:</strong></p>
<table cellspacing="8">
  <tr id="tr_session1" style="display:table-row">
    <td><%= f.check_box :session1 %></td>
    <td><p style="margin-bottom:0;"><strong>Session 1:</strong></p></td>
    <td><p style="margin-bottom:0;">June 26 - June 30</p></td>
    <td><p style="margin-bottom:0;">M-F</p></td>
    <td><p style="margin-bottom:0;"><span style="color: red; font-weight: bold;">$225</span></td>
  </tr>
  <tr id="tr_session2" style="display:table-row">
    <td><%= f.check_box :session2 %></td>
    <td><p style="margin-bottom:0;"><strong>Session 2:</strong></p></td>
    <td><p style="margin-bottom:0;">July 10 - July 14</p></td>
    <td><p style="margin-bottom:0;">M-F</p></td>
    <td><p style="margin-bottom:0;"><span style="color: red; font-weight: bold;">$225</span></td>
  </tr>
  <tr id="tr_session3" style="display:table-row">
    <td><%= f.check_box :session3 %></td>
    <td><p style="margin-bottom:0;"><strong>Session 3:</strong></p></td>
    <td><p style="margin-bottom:0;">July 17 - July 21</p></td>
    <td><p style="margin-bottom:0;">M-Th</p></td>
    <td><p style="margin-bottom:0;"><span style="color: red; font-weight: bold;">$225</span></p></td>
  </tr>
  <tr id="tr_session4" style="display:table-row">
    <td><%= f.check_box :session4 %></td>
    <td><p style="margin-bottom:0;"><strong>Session 4:</strong></p></td>
    <td><p style="margin-bottom:0;">July 24 - July 28</p></td>
    <td><p style="margin-bottom:0;">M-F</p></td>
    <td><p style="margin-bottom:0;"><span style="color: red; font-weight: bold;">$225</span></td>
  </tr>
  <tr id="tr_session5" style="display:none">
    <td><%= f.check_box :session5 %></td>
    <td><p style="margin-bottom:0;"><strong>Session 5:</strong></p></td>
    <td><p style="margin-bottom:0;">July 18 - July 22</p></td>
    <td><p style="margin-bottom:0;">M-F</p></td>
    <td><p style="margin-bottom:0;"><span style="color: red; font-weight: bold;">$225</span></p></td>
  </tr>
</table>
<p>** If you require financial assistance please contact us <a href="mailto:kurabu@oyanokai.org">kurabu@oyanokai.org</a>
</p>

<p style="color:black;margin-bottom:10px;">
  <strong>Special information about your child that would be helpful for the Kurabu staff to know:</strong></p>
<%= f.text_area :special, style: "width:700px;height:100px;" %>

<br/><br/><br/>
<p style="color:black;margin-bottom:10px;">
  <strong>MEDICATIONS/CONDITIONS: Please list any health problems, mental or physical conditions that might
    require<br/>
    special planning or consideration for this child’s participation in Kurabu. (Use additional paper if
    necessary.)</strong></p>
<%= f.text_area :medical, style: "width:700px;height:100px;" %>

<p>Note: Kurabu staff will dispense medication under physician’s orders. All medications must be in the prescription
  container clearly labeled with child’s name, the type of medication, the dosage, and the times (both am and pm) to
  administer the medication. Additional “Medication Administration” forms may be required prior to the start of
  camp.</p>

<p style="color:black;margin-bottom:10px;">
  <strong>By agreeing and typing in my name, I request the Kurabu staff administer medication to my
    above named child in the manner described by the physician’s orders.</strong></p>

<table>
  <tr>
    <td><p style="margin-bottom:0;">I agree:</p></td>
    <td><%= f.check_box :medical_agree, {}, "Yes", "No" %></td>
    <td><p style="margin-bottom:0;margin-left:50px;">Signed:</p></td>
    <td><%= f.text_field :medical_signed, style: 'width:300px;' %></td>
    <td><p style="margin-bottom:0;margin-left:50px;">Date:</p></td>
    <td><%= f.text_field :medical_signed_date %></td>
  </tr>
</table>

<br/><br/>
<p style="color:black;margin-bottom:10px;">Date of last tetanus booster:
  <%= f.text_field :shots_date, style: 'width:200px' %></p>

<br/><br/>
<p style="color:black;margin-bottom:10px;">
  <strong>In Case of EMERGENCY, if unable to locate parents, contact:</strong>
</p>
<table>
  <tr>
    <td><p style="margin-bottom:0;">Name:</p></td>
    <td><%= f.text_field :econtact_name, style: 'width:500px;' %></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Relationship to camper:</p></td>
    <td><%= f.text_field :econtact_relationship %></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Phone:</p></td>
    <td><%= f.text_field :econtact_phone %></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Address:</p></td>
    <td><%= f.text_field :econtact_address %></td>
  </tr>
</table>

<br/><br/>
<p style="color:black;margin-bottom:10px;"><strong>Activities Authorization:</strong></p>
<p style="color:black;margin-bottom:10px;">
  <%= f.text_field :activity_cname, style: 'width:300px;' %> (child’s name) has my permission to participate in all
  Kurabu activities.
  I also authorize Kurabu to use local emergency services in order to secure proper treatment for my child as named
  above. By agreeing and typing in my name, I release Oya No Kai, the City of Portland, and Mt. Tabor Middle School
  from all liability or responsibility for any accident or injury to my child while at Kurabu.</p>

<table>
  <tr>
    <td><p style="margin-bottom:0;">I agree:</p></td>
    <td><%= f.check_box :activity_agree, {}, "Yes", "No" %></td>
    <td><p style="margin-bottom:0;margin-left:50px;">Signed:</p></td>
    <td><%= f.text_field :activity_signed, style: 'width:300px;' %></td>
    <td><p style="margin-bottom:0;margin-left:50px;">Date:</p></td>
    <td><%= f.text_field :activity_signed_date %></td>
  </tr>
</table>

<br/><br/>
<p style="color:black;margin-bottom:10px;"><strong>Photo Authorization:</strong></p>
<p style="color:black;margin-bottom:10px;">
  By agreeing and typing in my name, I consent to and authorize Kurabu to use my child’s name and photograph for
  educational and public relations purposes related to Kurabu.</p>

<table>
  <tr>
    <td><p style="margin-bottom:0;">I agree:</p></td>
    <td><%= f.check_box :photo_agree, {}, "Yes", "No" %></td>
    <td><p style="margin-bottom:0;margin-left:50px;">Signed:</p></td>
    <td><%= f.text_field :photo_signed, style: 'width:300px;' %></td>
    <td><p style="margin-bottom:0;margin-left:50px;">Date:</p></td>
    <td><%= f.text_field :photo_signed_date %></td>
  </tr>
</table>

<br/><br/>
<p style="color:black;margin-bottom:10px;">
  <strong>Any directions to the contrary should be specified and signed below.</strong></p>
<%= f.text_area :directions, style: "width:700px;height:100px;" %>

<br/><br/>
<p style="color:black;margin-bottom:10px;">
  <strong>List any friends that you would like to be in class with your children.</strong></p>
<%= f.text_area :friends, style: "width:700px;height:100px;" %>

<br/><br/><br/>
<p><strong>Please Note:</strong> In cases when lice is found on a camper's head, his/her parents will be notified
  immediately and will be
  asked to pick him/her up from the camp. The camper will be allowed to return to the camp after treatment is
  complete & no nits are found. Thank you for your cooperation.</p>

