<script>
    jQuery(document).ready(function () {

        jQuery('#signup_cage').change(function () {
            hideSessions();
        });

        hideSessions();
    });

    function hideSessions() {
        if ("1st Grade" == jQuery("#signup_cage").val() || "Kindergarten" == jQuery("#signup_cage").val()) {
            <% if @class1[:s1] > 19 %>
            jQuery('#tr_session1').hide();
            jQuery('#session1_desc').hide();
            <% else %>
            jQuery('#tr_session1').show();
            jQuery('#session1_desc').show();
            <% end %>
            <% if @class1[:s2] > 19 %>
            jQuery('#tr_session2').hide();
            jQuery('#session2_desc').hide();
            <% else %>
            jQuery('#tr_session2').show();
            jQuery('#session2_desc').show();
            <% end %>
            <% if @class1[:s3] > 19 %>
            jQuery('#tr_session3').hide();
            jQuery('#session3_desc').hide();
            <% else %>
            jQuery('#tr_session3').show();
            jQuery('#session3_desc').show();
            <% end %>
            <% if @class1[:s4] > 19 %>
            jQuery('#tr_session4').hide();
            jQuery('#session4_desc').hide();
            <% else %>
            jQuery('#tr_session4').show();
            jQuery('#session4_desc').show();
            <% end %>
        }

        if ("2nd Grade" == jQuery("#signup_cage").val()) {
            <% if @class2[:s1] > 19 %>
            jQuery('#tr_session1').hide();
            jQuery('#session1_desc').hide();
            <% else %>
            jQuery('#tr_session1').show();
            jQuery('#session1_desc').show();
            <% end %>
            <% if @class2[:s2] > 19 %>
            jQuery('#tr_session2').hide();
            jQuery('#session2_desc').hide();
            <% else %>
            jQuery('#tr_session2').show();
            jQuery('#session2_desc').show();
            <% end %>
            <% if @class2[:s3] > 19 %>
            jQuery('#tr_session3').hide();
            jQuery('#session3_desc').hide();
            <% else %>
            jQuery('#tr_session3').show();
            jQuery('#session3_desc').show();
            <% end %>
            <% if @class2[:s4] > 19 %>
            jQuery('#tr_session4').hide();
            jQuery('#session4_desc').hide();
            <% else %>
            jQuery('#tr_session4').show();
            jQuery('#session4_desc').show();
            <% end %>
        }

        if ("3rd Grade" == jQuery("#signup_cage").val()) {
            <% if @class3[:s1] > 19 %>
            jQuery('#tr_session1').hide();
            jQuery('#session1_desc').hide();
            <% else %>
            jQuery('#tr_session1').show();
            jQuery('#session1_desc').show();
            <% end %>
            <% if @class3[:s2] > 19 %>
            jQuery('#tr_session2').hide();
            jQuery('#session2_desc').hide();
            <% else %>
            jQuery('#tr_session2').show();
            jQuery('#session2_desc').show();
            <% end %>
            <% if @class3[:s3] > 19 %>
            jQuery('#tr_session3').hide();
            jQuery('#session3_desc').hide();
            <% else %>
            jQuery('#tr_session3').show();
            jQuery('#session3_desc').show();
            <% end %>
            <% if @class3[:s4] > 19 %>
            jQuery('#tr_session4').hide();
            jQuery('#session4_desc').hide();
            <% else %>
            jQuery('#tr_session4').show();
            jQuery('#session4_desc').show();
            <% end %>
        }

        if ("4th Grade" == jQuery("#signup_cage").val() || "5th Grade" == jQuery("#signup_cage").val()) {
            <% if @class4[:s1] > 19 %>
            jQuery('#tr_session1').hide();
            jQuery('#session1_desc').hide();
            <% else %>
            jQuery('#tr_session1').show();
            jQuery('#session1_desc').show();
            <% end %>
            <% if @class4[:s2] > 19 %>
            jQuery('#tr_session2').hide();
            jQuery('#session2_desc').hide();
            <% else %>
            jQuery('#tr_session2').show();
            jQuery('#session2_desc').show();
            <% end %>
            <% if @class4[:s3] > 19 %>
            jQuery('#tr_session3').hide();
            jQuery('#session3_desc').hide();
            <% else %>
            jQuery('#tr_session3').show();
            jQuery('#session3_desc').show();
            <% end %>
            <% if @class4[:s4] > 19 %>
            jQuery('#tr_session4').hide();
            jQuery('#session4_desc').hide();
            <% else %>
            jQuery('#tr_session4').show();
            jQuery('#session4_desc').show();
            <% end %>
        }
    }
</script>

<h1>Kurabu Summer Camp 2017 Registration</h1>
<h1>クラブ（サマーキャンプ）</h1>
<p>This form must be completed for every child attending Kurabu 2017.</p>

<% if @signup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@signup.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
        <% @signup.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @signup do |f| %>
    <%= render '/signups/edit_form', f: f %>
    <%= f.submit "Submit My Application" %>
<% end %>
