<script>
    jQuery(document).ready(function () {

        jQuery('#signup_cage').change(function () {
            hideSessions();
        });

        hideSessions();
    });

    function hideSessions() {
        jQuery('#tr_session2').hide();
        jQuery('#session2_desc').hide();

        if ("1st Grade" == jQuery("#signup_cage").val() || "Kindergarten" == jQuery("#signup_cage").val()) {
            <% if @class1[:s1] > 1 %>
            jQuery('#tr_session1').hide();
            jQuery('#session1_desc').hide();
            <% else %>
            jQuery('#tr_session1').show();
            jQuery('#session1_desc').show();
            <% end %>
            <% if @class1[:s2] > 1 %>
            jQuery('#tr_session2').hide();
            jQuery('#session2_desc').hide();
            <% else %>
            jQuery('#tr_session2').show();
            jQuery('#session2_desc').show();
            <% end %>
            <% if @class1[:s3] > 1 %>
            jQuery('#tr_session3').hide();
            jQuery('#session3_desc').hide();
            <% else %>
            jQuery('#tr_session3').show();
            jQuery('#session3_desc').show();
            <% end %>
            <% if @class1[:s4] > 1 %>
            jQuery('#tr_session4').hide();
            jQuery('#session4_desc').hide();
            <% else %>
            jQuery('#tr_session4').show();
            jQuery('#session4_desc').show();
            <% end %>
        }

        if ("2nd Grade" == jQuery("#signup_cage").val()) {
            <% if @class2[:s1] > 1 %>
            jQuery('#tr_session1').hide();
            jQuery('#session1_desc').hide();
            <% else %>
            jQuery('#tr_session1').show();
            jQuery('#session1_desc').show();
            <% end %>
            <% if @class2[:s2] > 1 %>
            jQuery('#tr_session2').hide();
            jQuery('#session2_desc').hide();
            <% else %>
            jQuery('#tr_session2').show();
            jQuery('#session2_desc').show();
            <% end %>
            <% if @class2[:s3] > 1 %>
            jQuery('#tr_session3').hide();
            jQuery('#session3_desc').hide();
            <% else %>
            jQuery('#tr_session3').show();
            jQuery('#session3_desc').show();
            <% end %>
            <% if @class2[:s4] > 1 %>
            jQuery('#tr_session4').hide();
            jQuery('#session4_desc').hide();
            <% else %>
            jQuery('#tr_session4').show();
            jQuery('#session4_desc').show();
            <% end %>
        }

        if ("3rd Grade" == jQuery("#signup_cage").val()) {
            <% if @class3[:s1] > 1 %>
            jQuery('#tr_session1').hide();
            jQuery('#session1_desc').hide();
            <% else %>
            jQuery('#tr_session1').show();
            jQuery('#session1_desc').show();
            <% end %>
            <% if @class3[:s2] > 1 %>
            jQuery('#tr_session2').hide();
            jQuery('#session2_desc').hide();
            <% else %>
            jQuery('#tr_session2').show();
            jQuery('#session2_desc').show();
            <% end %>
            <% if @class3[:s3] > 1 %>
            jQuery('#tr_session3').hide();
            jQuery('#session3_desc').hide();
            <% else %>
            jQuery('#tr_session3').show();
            jQuery('#session3_desc').show();
            <% end %>
            <% if @class3[:s4] > 1 %>
            jQuery('#tr_session4').hide();
            jQuery('#session4_desc').hide();
            <% else %>
            jQuery('#tr_session4').show();
            jQuery('#session4_desc').show();
            <% end %>
        }

        if ("4th Grade" == jQuery("#signup_cage").val() || "5th Grade" == jQuery("#signup_cage").val()) {
            <% if @class4[:s1] > 1 %>
            jQuery('#tr_session1').hide();
            jQuery('#session1_desc').hide();
            <% else %>
            jQuery('#tr_session1').show();
            jQuery('#session1_desc').show();
            <% end %>
            <% if @class4[:s2] > 1 %>
            jQuery('#tr_session2').hide();
            jQuery('#session2_desc').hide();
            <% else %>
            jQuery('#tr_session2').show();
            jQuery('#session2_desc').show();
            <% end %>
            <% if @class4[:s3] > 1 %>
            jQuery('#tr_session3').hide();
            jQuery('#session3_desc').hide();
            <% else %>
            jQuery('#tr_session3').show();
            jQuery('#session3_desc').show();
            <% end %>
            <% if @class4[:s4] > 1 %>
            jQuery('#tr_session4').hide();
            jQuery('#session4_desc').hide();
            <% else %>
            jQuery('#tr_session4').show();
            jQuery('#session4_desc').show();
            <% end %>
        }
    }
</script>

<h1>Kurabu Summer Camp 2017 Registration</h1>
<h1>クラブ（サマーキャンプ）</h1>
<p>This form must be completed for every child attending Kurabu 2017.</p>

<p style="color:red;font-weight: bold;">Sorry All sessions are full.</p>
<!--
<% if @signup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@signup.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
        <% @signup.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @signup do |f| %>
    <%= render '/signups/edit_form', f: f %>
    <%= f.submit "Submit My Application" %>
<% end %>

<p style="font-weight: bold; color:red;">Registrations are not confirmed until they are paid in full!</p>
<p><span style="font-weight: bold;">Notes about Fees, Withdrawal &amp; Refunds:</span> Fees are for Portland area residents. For residents outside of the
Portland area, an additional 10% fee must be added. (See definition of non-resident on PP&R website.) A $50
non-refundable deposit per student is included in the price of the camp. ONK requires a 72-hour cancellation
notice for a full refund (minus the $50 deposit). We do not prorate for any missed days. Receipt of full payment
is required to reserve your spot, unless otherwise arranged. For cancellations less than 72 hours and for payment
  options, contact Kathy Black, <a href="mailto:kurabu@oyanokai.org">kurabu@oyanokai.org</a>.</p>
-->