<script>
  jQuery(document).ready(function () {
    jQuery('#signup_cage').change(function () {
      if ("4th Grade" == jQuery("#signup_cage").val() || "5th Grade" == jQuery("#signup_cage").val()) {
        jQuery('#tr_session1').hide();
        jQuery('#tr_session4').hide();
      }
      else {
        jQuery('#tr_session1').show();
        jQuery('#tr_session4').show();
      }
    });
  });
</script>

<h1>Kurabu Summer Camp 2016 Registration</h1>
<h1>クラブ（サマーキャンプ）</h1>
<p>This form must be completed for every child attending Kurabu 2016.</p>

<% if @signup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@signup.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
        <% @signup.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @signup do |f| %>
    <%= render '/signups/edit_form', f: f %>
    <%= f.submit "Submit My Application" %>
<% end %>
