<script>
    jQuery(document).ready(function () {

        jQuery('#signup_cage').change(function () {
            hideSessions();
        });

        hideSessions();
    });

    function hideSessions() {
        <% if @summaries[:total][:s1] > 99 %>
          jQuery('#tr_session1').hide();
          jQuery('#session1_desc').hide();
        <% end %>
        <% if @summaries[:total][:s2] > 99 %>
          jQuery('#tr_session2').hide();
          jQuery('#session2_desc').hide();
        <% end %>
        <% if @summaries[:total][:s3] > 99 %>
          jQuery('#tr_session3').hide();
          jQuery('#session3_desc').hide();
        <% end %>
        <% if @summaries[:total][:s4] > 99 %>
          jQuery('#tr_session4').hide();
          jQuery('#session4_desc').hide();
        <% end %>
        <% if @summaries[:total][:s5] > 99 %>
          jQuery('#tr_session5').hide();
          jQuery('#session5_desc').hide();
        <% end %>

        /*
        if ("Kindergarten" == jQuery("#signup_cage").val()) {
            <% if @summaries[:classk][:s1] > 19 %>
            jQuery('#tr_session1').hide();
            jQuery('#session1_desc').hide();
            <% else %>
            jQuery('#tr_session1').show();
            jQuery('#session1_desc').show();
            <% end %>
            <% if @summaries[:classk][:s2] > 19 %>
            jQuery('#tr_session2').hide();
            jQuery('#session2_desc').hide();
            <% else %>
            jQuery('#tr_session2').show();
            jQuery('#session2_desc').show();
            <% end %>
            <% if @summaries[:classk][:s3] > 19 %>
            jQuery('#tr_session3').hide();
            jQuery('#session3_desc').hide();
            <% else %>
            jQuery('#tr_session3').show();
            jQuery('#session3_desc').show();
            <% end %>
            <% if @summaries[:classk][:s4] > 19 %>
            jQuery('#tr_session4').hide();
            jQuery('#session4_desc').hide();
            <% else %>
            jQuery('#tr_session4').show();
            jQuery('#session4_desc').show();
            <% end %>
            <% if @summaries[:classk][:s5] > 19 %>
            jQuery('#tr_session5').hide();
            jQuery('#session5_desc').hide();
            <% else %>
            jQuery('#tr_session5').show();
            jQuery('#session5_desc').show();
            <% end %>
        }

        if ("1st Grade" == jQuery("#signup_cage").val()) {
            <% if @summaries[:class1][:s1] > 19 %>
            jQuery('#tr_session1').hide();
            jQuery('#session1_desc').hide();
            <% else %>
            jQuery('#tr_session1').show();
            jQuery('#session1_desc').show();
            <% end %>
            <% if @summaries[:class1][:s2] > 19 %>
            jQuery('#tr_session2').hide();
            jQuery('#session2_desc').hide();
            <% else %>
            jQuery('#tr_session2').show();
            jQuery('#session2_desc').show();
            <% end %>
            <% if @summaries[:class1][:s3] > 19 %>
            jQuery('#tr_session3').hide();
            jQuery('#session3_desc').hide();
            <% else %>
            jQuery('#tr_session3').show();
            jQuery('#session3_desc').show();
            <% end %>
            <% if @summaries[:class1][:s4] > 19 %>
            jQuery('#tr_session4').hide();
            jQuery('#session4_desc').hide();
            <% else %>
            jQuery('#tr_session4').show();
            jQuery('#session4_desc').show();
            <% end %>
            <% if @summaries[:class1][:s5] > 19 %>
            jQuery('#tr_session5').hide();
            jQuery('#session5_desc').hide();
            <% else %>
            jQuery('#tr_session5').show();
            jQuery('#session5_desc').show();
            <% end %>
        }

        if ("2nd Grade" == jQuery("#signup_cage").val()) {
            <% if @summaries[:class2][:s1] > 19 %>
            jQuery('#tr_session1').hide();
            jQuery('#session1_desc').hide();
            <% else %>
            jQuery('#tr_session1').show();
            jQuery('#session1_desc').show();
            <% end %>
            <% if @summaries[:class2][:s2] > 19 %>
            jQuery('#tr_session2').hide();
            jQuery('#session2_desc').hide();
            <% else %>
            jQuery('#tr_session2').show();
            jQuery('#session2_desc').show();
            <% end %>
            <% if @summaries[:class2][:s3] > 19 %>
            jQuery('#tr_session3').hide();
            jQuery('#session3_desc').hide();
            <% else %>
            jQuery('#tr_session3').show();
            jQuery('#session3_desc').show();
            <% end %>
            <% if @summaries[:class2][:s4] > 19 %>
            jQuery('#tr_session4').hide();
            jQuery('#session4_desc').hide();
            <% else %>
            jQuery('#tr_session4').show();
            jQuery('#session4_desc').show();
            <% end %>
            <% if @summaries[:class2][:s5] > 19 %>
            jQuery('#tr_session5').hide();
            jQuery('#session5_desc').hide();
            <% else %>
            jQuery('#tr_session5').show();
            jQuery('#session5_desc').show();
            <% end %>
        }

        if ("3rd Grade" == jQuery("#signup_cage").val()) {
            <% if @summaries[:class3][:s1] > 19 %>
            jQuery('#tr_session1').hide();
            jQuery('#session1_desc').hide();
            <% else %>
            jQuery('#tr_session1').show();
            jQuery('#session1_desc').show();
            <% end %>
            <% if @summaries[:class3][:s2] > 19 %>
            jQuery('#tr_session2').hide();
            jQuery('#session2_desc').hide();
            <% else %>
            jQuery('#tr_session2').show();
            jQuery('#session2_desc').show();
            <% end %>
            <% if @summaries[:class3][:s3] > 19 %>
            jQuery('#tr_session3').hide();
            jQuery('#session3_desc').hide();
            <% else %>
            jQuery('#tr_session3').show();
            jQuery('#session3_desc').show();
            <% end %>
            <% if @summaries[:class3][:s4] > 19 %>
            jQuery('#tr_session4').hide();
            jQuery('#session4_desc').hide();
            <% else %>
            jQuery('#tr_session4').show();
            jQuery('#session4_desc').show();
            <% end %>
            <% if @summaries[:class3][:s5] > 19 %>
            jQuery('#tr_session5').hide();
            jQuery('#session5_desc').hide();
            <% else %>
            jQuery('#tr_session5').show();
            jQuery('#session5_desc').show();
            <% end %>
        }

        if ("4th Grade" == jQuery("#signup_cage").val() || "5th Grade" == jQuery("#signup_cage").val()) {
            <% if @summaries[:class4][:s1] > 19 %>
            jQuery('#tr_session1').hide();
            jQuery('#session1_desc').hide();
            <% else %>
            jQuery('#tr_session1').show();
            jQuery('#session1_desc').show();
            <% end %>
            <% if @summaries[:class4][:s2] > 19 %>
            jQuery('#tr_session2').hide();
            jQuery('#session2_desc').hide();
            <% else %>
            jQuery('#tr_session2').show();
            jQuery('#session2_desc').show();
            <% end %>
            <% if @summaries[:class4][:s3] > 19 %>
            jQuery('#tr_session3').hide();
            jQuery('#session3_desc').hide();
            <% else %>
            jQuery('#tr_session3').show();
            jQuery('#session3_desc').show();
            <% end %>
            <% if @summaries[:class4][:s4] > 19 %>
            jQuery('#tr_session4').hide();
            jQuery('#session4_desc').hide();
            <% else %>
            jQuery('#tr_session4').show();
            jQuery('#session4_desc').show();
            <% end %>
            <% if @summaries[:class4][:s5] > 19 %>
            jQuery('#tr_session5').hide();
            jQuery('#session5_desc').hide();
            <% else %>
            jQuery('#tr_session5').show();
            jQuery('#session5_desc').show();
            <% end %>
        }
        */

        /*
        jQuery('#tr_session1').hide();
        jQuery('#session1_desc').hide();
        jQuery('#tr_session2').hide();
        jQuery('#session2_desc').hide();
        jQuery('#tr_session3').hide();
        jQuery('#session3_desc').hide();
        jQuery('#tr_session4').hide();
        jQuery('#session4_desc').hide();
        jQuery('#tr_session5').hide();
        jQuery('#session5_desc').hide();
        */
    }
</script>

<div class="content">
  <div class="half-bottom"></div>
  <div class="box-960 half-bottom">

    <h1>Kurabu Summer Camp Registration</h1>
    <h1>クラブ（サマーキャンプ）</h1>

    <!--p style="color:red;font-weight: bold;">Sorry All sessions are full.</p-->

    <% if @signup.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@signup.errors.count, "error") %> prohibited this registration from being saved:</h2>

        <ul>
          <% @signup.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <br/>
    <% end %>

    <!--span style="font-weight: bold; color:red;">Kurabu registration is closed for 2022.</span-->

    <p>This form must be completed for every child attending Kurabu 2022.</p>

    <%= form_for @signup do |f| %>
      <%= render '/signups/edit_form', f: f %>
      <%= f.submit "Submit My Application", class: "button button-blue center-button half-bottom", style: "width:200px;margin-top:5px;margin-bottom:5px!important;" %>

    <% end %>

    <br/><br/>

    <p style="font-weight: bold; color:red;">Registrations are not confirmed until they are paid in full!</p>
    <p><span style="font-weight: bold;">Fees are for Portland area residents. For residents outside of the Portland area, an additional 10% fee must be added. (See definition of non-resident on PP&R website.)
  A $50 non-refundable deposit per student is included in the price of the camp. ONK requires a 7 day cancellation notice for a full refund (minus the $50 deposit). We do not prorate for
  any missed days. Receipt of full payment is required to reserve your spot, unless otherwise arranged. For cancellations less than 7 days and for payment options, contact kurabu@oyanokai.org.</span>
    </p>
  </div>
</div>