<h1>Kurabu Summer Camp 2018 Registration</h1>
<h1>クラブ（サマーキャンプ）</h1>
<h3>Purchase Kurabu Sessions</h3>
<br/>
<p style="color:black;margin-bottom:10px;"><strong>Student Information</strong></p>
<table>
  <tr>
    <td><p style="margin-bottom:0;">Child’s First Name:</p></td>
    <td><%= @signup.cfname %></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Child’s Last Name:</p></td>
    <td><%= @signup.clname %></td>
  </tr>
</table>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <input type="hidden" name="cmd" value="_cart">
  <input type="hidden" name="upload" value="1">
  <input type="hidden" name="business" value="kathy.black@pdx.edu">
  <input type="hidden" name="notify_url" value="<%= signups_paypal_url %>">
  <input type="hidden" name="invoice" value="<%= @signup.id %>-<%= Time.now.to_i %>">

  <% @session_count = 1 %>
  <% discount = @signup.payment.present? ? @signup.payment.scholarship.to_f : 0 %>

  <%
    if @signup.payment.present? && @signup.payment.amount.to_f > 0
      discount = discount + @signup.payment.amount.to_f
    end
  %>


  <br/><br/>
  <p style="color:black;margin-bottom:10px;"><strong>My Child will attend the following sessions:</strong></p>
  <table cellspacing="8">
    <% if @signup.session1 == '1' %>
        <tr>
          <td><p style="margin-bottom:0;"><strong>Session 1:</strong></p></td>
          <td nowrap="nowrap" style="padding-right:10px;"><p style="margin-bottom:0;">June 25 - June 29</p></td>
          <td nowrap="nowrap" style="padding-right:10px;"><p style="margin-bottom:0;">M-F</p></td>
          <td nowrap="nowrap" style="padding-right:10px;"><p style="margin-bottom:0;"><span style="color: red; font-weight: bold;">$250</span></td>
        </tr>
        <input type="hidden" name="item_name_<%= @session_count %>" value="Session 1: June 25 - June 29">
        <input type="hidden" name="item_number_<%= @session_count %>" value="<%= @signup.cfname %> <%= @signup.clname %>">
        <input type="hidden" name="amount_<%= @session_count %>" value="250">
        <input type="hidden" name="quantity_<%= @session_count %>" value="1">

        <% if discount > 0 %>
            <input type="hidden" name="discount_amount_<%= @session_count %>" value="<%= discount > 249 ? 249 : discount  %>">
            <% discount = discount - 249 %>
        <% end %>

        <% @session_count = @session_count + 1 %>
    <% end %>
    <% if @signup.session2 == '1' %>
        <tr>
          <td><p style="margin-bottom:0;"><strong>Session 2:</strong></p></td>
          <td nowrap="nowrap" style="padding-right:10px;"><p style="margin-bottom:0;">July 2 - July 8</p></td>
          <td nowrap="nowrap" style="padding-right:10px;"><p style="margin-bottom:0;">M,T,TH,F</p></td>
          <td nowrap="nowrap" style="padding-right:10px;"><p style="margin-bottom:0;"><span style="color: red; font-weight: bold;">$225</span></td>
        </tr>
        <input type="hidden" name="item_name_<%= @session_count %>" value="Session 2: July 2 - July 8">
        <input type="hidden" name="item_number_<%= @session_count %>" value="<%= @signup.cfname %> <%= @signup.clname %>">
        <input type="hidden" name="amount_<%= @session_count %>" value="225">
        <input type="hidden" name="quantity_<%= @session_count %>" value="1">

        <% if discount > 0 %>
            <input type="hidden" name="discount_amount_<%= @session_count %>" value="<%= discount > 224 ? 224 : discount  %>">
            <% discount = discount - 224 %>
        <% end %>

        <% @session_count = @session_count + 1 %>
    <% end %>
    <% if @signup.session3 == '1' %>
        <tr>
          <td><p style="margin-bottom:0;"><strong>Session 3:</strong></p></td>
          <td nowrap="nowrap" style="padding-right:10px;"><p style="margin-bottom:0;">July 9 - July 13</p></td>
          <td nowrap="nowrap" style="padding-right:10px;"><p style="margin-bottom:0;">M-F</p></td>
          <td nowrap="nowrap" style="padding-right:10px;"><p style="margin-bottom:0;"><span style="color: red; font-weight: bold;">$250</span></p></td>
        </tr>
        <input type="hidden" name="item_name_<%= @session_count %>" value="Session 3: July 9 - July 13">
        <input type="hidden" name="item_number_<%= @session_count %>" value="<%= @signup.cfname %> <%= @signup.clname %>">
        <input type="hidden" name="amount_<%= @session_count %>" value="250">
        <input type="hidden" name="quantity_<%= @session_count %>" value="1">

        <% if discount > 0 %>
            <input type="hidden" name="discount_amount_<%= @session_count %>" value="<%= discount > 249 ? 249 : discount  %>">
            <% discount = discount - 249 %>
        <% end %>

        <% @session_count = @session_count + 1 %>
    <% end %>
    <% if @signup.session4 == '1' %>
        <tr>
          <td><p style="margin-bottom:0;"><strong>Session 4:</strong></p></td>
          <td nowrap="nowrap" style="padding-right:10px;"><p style="margin-bottom:0;">July 16 - July 20</p></td>
          <td nowrap="nowrap" style="padding-right:10px;"><p style="margin-bottom:0;">M-F</p></td>
          <td nowrap="nowrap" style="padding-right:10px;"><p style="margin-bottom:0;"><span style="color: red; font-weight: bold;">$250</span></td>
        </tr>
        <input type="hidden" name="item_name_<%= @session_count %>" value="Session 4: July 16 - July 20">
        <input type="hidden" name="item_number_<%= @session_count %>" value="<%= @signup.cfname %> <%= @signup.clname %>">
        <input type="hidden" name="amount_<%= @session_count %>" value="250">
        <input type="hidden" name="quantity_<%= @session_count %>" value="1">

        <% if discount > 0 %>
            <input type="hidden" name="discount_amount_<%= @session_count %>" value="<%= discount > 250 ? 250 : discount  %>">
            <% discount = discount - 250 %>
        <% end %>

        <% @session_count = @session_count + 1 %>
    <% end %>
    <% if @signup.session5 == '1' %>
        <tr>
          <td><p style="margin-bottom:0;"><strong>Session 5:</strong></p></td>
          <td nowrap="nowrap" style="padding-right:10px;"><p style="margin-bottom:0;">July 23 - July 27</p></td>
          <td nowrap="nowrap" style="padding-right:10px;"><p style="margin-bottom:0;">M-F</p></td>
          <td nowrap="nowrap" style="padding-right:10px;"><p style="margin-bottom:0;"><span style="color: red; font-weight: bold;">$250</span></p></td>
        </tr>
        <input type="hidden" name="item_name_<%= @session_count %>" value="Session 5: July 23 - July 27">
        <input type="hidden" name="item_number_<%= @session_count %>" value="<%= @signup.cfname %> <%= @signup.clname %>">
        <input type="hidden" name="amount_<%= @session_count %>" value="250">
        <input type="hidden" name="quantity_<%= @session_count %>" value="1">

        <% if discount > 0 %>
            <input type="hidden" name="discount_amount_<%= @session_count %>" value="<%= discount > 249 ? 249 : discount  %>">
            <% discount = discount - 249 %>
        <% end %>

        <% @session_count = @session_count + 1 %>
    <% end %>
  </table>
  <br/>

  <% if @signup.payment.present? && @signup.payment.scholarship.to_f > 0 %>
      <p style="color:black;margin-bottom:10px;"><strong>Scholarship:</strong> <%= number_to_currency(@signup.payment.scholarship) %></p>
  <% end %>

  <% if @signup.payment.present? && @signup.payment.amount.to_f > 0 %>
      <p style="color:black;margin-bottom:10px;"><strong>Already Paid:</strong> <%= number_to_currency(@signup.payment.amount) %></p>
  <% end %>

  <p style="color:black;margin-bottom:10px;"><strong>Amount Due:</strong> <%= number_to_currency(@signup.amt_due) %></p>

  <br/>

  <input type="hidden" name="currency_code" value="USD">

  <!-- Enable override of buyers's address stored with PayPal . -->
  <input type="hidden" name="address_override" value="0">
  <!-- Set variables that override the address stored with PayPal. -->
  <input type="hidden" name="first_name" value="<%= @signup.p1fname %>">
  <input type="hidden" name="last_name" value="<%= @signup.p1lname %>">
  <input type="hidden" name="address1" value="<%= @signup.street %>">
  <input type="hidden" name="city" value="<%= @signup.city %>">
  <input type="hidden" name="state" value="<%= @signup.state %>">
  <input type="hidden" name="zip" value="<%= @signup.zip %>">
  <input type="hidden" name="email" value="<%= @signup.email %>">
  <input type="hidden" name="country" value="US">
  <input type="image" name="submit"
         src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
         alt="PayPal - The safer, easier way to pay online">
</form>
<br/><br/>
<p>After we have received your payment and reviewed your signup form we will send you email confirming your spot at Kurabu.</p>