<script>
  jQuery(function() {
    jQuery('#delete').click(function() {
      var strconfirm = confirm("Are you sure you want to delete this application?");
      if (strconfirm == true)
      {
        jQuery('#delete_form').submit();
      }
    });
  });
</script>
<%= form_for @signup, url: kmgr_application_delete_path(@signup.id), html: { id: 'delete_form' } do |f| %><% end %>

<h3>Kurabu Administration</h3>
<%= link_to 'view all signups', kmgr_forms_path %> | <%= link_to 'edit payment data', kmgr_form_path(@signup.id) %> | <a href="#" id="delete">delete application</a>

<br/><br/>

<% if @signup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@signup.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
        <% @signup.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @signup, url: kmgr_form_path do |f| %>
    <%= render '/signups/edit_form', f: f %>
    <%= f.submit "Update Application" %>
<% end %>
