<script>
    jQuery(document).ready(function () {
        jQuery("tr:odd").addClass("even");
    });
</script>

<%= render '/kmgr/includes/search' %>

<div class="content">
  <%= render '/kmgr/includes/breadcrumb', page_name: '' %>
  <div class="box-960 half-bottom">

    <h4>Fully Registered Signups</h4>

    <%= render '/kmgr/includes/table', summeries: @summeries %>
    <%= link_to 'view all signups', kmgr_forms_path %>

    <br/>
    <h4>Outstanding Signups</h4>
      <%= render '/kmgr/includes/signup_table', signups: @outstanding %>

  </div>
</div>
