<script>
    jQuery(document).ready(function () {
        jQuery("tr:odd").addClass("even");
    });
</script>

<%= render '/kmgr/includes/search' %>

<div class="content">
  <%= render '/kmgr/includes/breadcrumb', page_name: '' %>
  <div class="box-960 half-bottom">

    <h4>Fully Registered Signups</h4>

    <table class="table half-bottom">
      <tbody>
      <tr>
        <th class="table-title">Grade</th>
        <th class="table-title">Session 1</th>
        <th class="table-title">Session 2</th>
        <th class="table-title">Session 3</th>
        <th class="table-title">Session 4</th>
        <th class="table-title">Session 5</th>
        <th>Total</th>
      </tr>
      <tr>
        <% @summeries.each do |summary| %>
        <tr>
          <td class="table-sub-title blue-title"><%= summary[:grade] %></td>
          <td style="text-align:right;"><a href="<%= kmgr_overview_details_path(summary[:grade], '1') %>"><%= summary[:s1] %></a></td>
          <td style="text-align:right;"><a href="<%= kmgr_overview_details_path(summary[:grade], '2') %>"><%= summary[:s2] %></a></td>
          <td style="text-align:right;"><a href="<%= kmgr_overview_details_path(summary[:grade], '3') %>"><%= summary[:s3] %></a></td>
          <td style="text-align:right;"><a href="<%= kmgr_overview_details_path(summary[:grade], '4') %>"><%= summary[:s4] %></a></td>
          <td style="text-align:right;"><a href="<%= kmgr_overview_details_path(summary[:grade], '5') %>"><%= summary[:s5] %></a></td>
          <td style="color: black;font-weight:bold;text-align:right;"><%= summary[:total] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= link_to 'view all signups', kmgr_forms_path %>

    <br/>
    <h4>Outstanding Signups</h4>
      <%= render '/kmgr/includes/signup_table', signups: @outstanding %>

  </div>
</div>
