<nav class="menu">
  <ul id="menu-primary" class="menu">
    <% if current_user != nil %>
      <% if current_user.admin %>
        <li id="menu-item-8" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-8">
          <%= link_to 'Admin Overview', tmgr_overview_path %>
        </li>
        <li id="menu-item-8" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-8">
          <%= link_to 'Change Password', edit_user_registration_path %>
        </li>
      <% else %>
        <li id="menu-item-8" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-8">
          <%= link_to 'Overview', todos_home_path %>
        </li>
        <li id="menu-item-8" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-8">
          <%= link_to 'Account', edit_user_registration_path %>
        </li>
        <li id="menu-item-8" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-8">
          <%= link_to 'Registration', registrations_edit_path %>
        </li>
        <li id="menu-item-8" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-8">
          <%= link_to 'Payments', payments_overview_path %>
        </li>
      <% end %>
      <li id="menu-item-8" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-8">
        <%= link_to "Logout", destroy_user_session_path %>
      </li>
    <% end %>
  </ul>
</nav>
